.nav-container{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:rgb(128, 206, 206);
}
.nav-brand{
    width: 40px;
    height: 60px;
}
.navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
}
.navegacion a{
    margin: 10px;

}

.claseActive{
    color: rgb(175, 151, 55);
}
.claseInactive{
    color: rgba(2, 24, 25, 0.542)
}